{
  "extends": "gasbuddy",
  "plugins": [
    "immutable"
  ],
  "rules": {
    "max-len": ["error", 120, 2],
    "no-use-before-define": "off",
    "immutable/no-let": "error",
    "immutable/no-mutation": "error"
  }
}
