{
  "extends": "gasbuddy",
  "plugins": [
    "immutable"
  ],
  "rules": {
    "no-use-before-define": "off",
    "no-console": "off",
    "immutable/no-let": "error",
    "immutable/no-mutation": "error"
  }
}
